<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4ShvN1azEZQx6EiSJ0O--041ZuUmQkNA</string>
	<key>GCM_SENDER_ID</key>
	<string>349230132686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ADK.FireAuthFlow</string>
	<key>PROJECT_ID</key>
	<string>fireauthflow</string>
	<key>STORAGE_BUCKET</key>
	<string>fireauthflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349230132686:ios:3377444b4b5af32239cf9f</string>
</dict>
</plist>